@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
body{
	background-color: #121818;
}
.background{
	/*height: 100vh;*/
	/*padding-top: 1px;*/
}
.title{
	color: white;
	text-align: center;
	font-size: 40px;
	margin-top: 5%;
}
.display{
	color: white;
	font-size: 25px;
	text-align: center;
	margin: 1em 0;
}
.hide{
	display: none;
}
.container{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
	max-width: 300px;
	grid-gap: 0;
}
.tile{
	border: 1px solid white;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	cursor: pointer;
}
.playerX{
	color: #09c372;
}
.playerO{
	color: #498afb;
}
.controls{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}
#reset{
	background-color: red;
	color: white;
	padding: 8px;
	border-radius: 8px;
	border: none;
	font-size: 20px;
	cursor: pointer;
}